[logistics]
output_dir=/projects/EKOLEMEN/profile_predictor/final_paper/
# preprocessed_paper/
output_filename_base=test_
# astrainterpretive.h5
raw_data_filename=/projects/EKOLEMEN/profile_predictor/raw_data/small_test.h5
#diiid_data.h5
# /projects/EKOLEMEN/profile_predictor/sim_data/astraSims.h5

[shots]
min_shot=0
max_shot=200000
test_index=0
val_index=5
excluded_runs=
;	20190628B
;	20130911

[settings]
lookahead=1
zero_fill_signals=
	ech_pwr_total
	pinj
	tinj
	H_tot
	He_tot
	N_tot
	Ne_tot
exclude_ech=False
ech_threshold=0.1
exclude_ich=True
ip_minimum=0.0e6
ip_maximum=10e6
deviation_cutoff=10
# above should be 20 for AUG for density and gas

[signals]
; this should be a superset of whatever you might use for testing different models
profiles_superset=
	zipfit_etempfit_rho
	zipfit_itempfit_rho
	zipfit_trotfit_rho
	zipfit_edensfit_rho
	zipfit_zdensfit_rho
	qpsi_EFIT01
	zeff_rho
;	PETOT_astrainterpretive
;	PITOT_astrainterpretive
;	TE_astrainterpretive
;	TI_astrainterpretive
;	NE_astrainterpretive
;	ANGF_astrainterpretive
;	NI_astrainterpretive
;	HE_astrainterpretive
;	XI_astrainterpretive
;	TE_astrapredictEPEDNNTGLFNNfullyZIPFIT
;	TI_astrapredictEPEDNNTGLFNNfullyZIPFIT
;	NE_astrapredictEPEDNNTGLFNNfullyZIPFIT
;	ANGF_astrapredictEPEDNNTGLFNNfullyZIPFIT
;	MU_astrapredictEPEDNNTGLFNNfullyZIPFIT
scalars_superset=
	pinj
	tinj
;	ipsiptargt
	ech_pwr_total
;	dstdenp
;	gasA
;	gasB
;	gasC
;	gasD
	ip
;	betan_EFIT01
	tribot_EFIT01
	tritop_EFIT01
	kappa_EFIT01
	aminor_EFIT01
	rmaxis_EFIT01
;	li_EFIT01
	volume_EFIT01
	bt
	dssdenest
;	Ar_tot
	D_tot
	H_tot
	He_tot
	N_tot
	Ne_tot
;	Rzoben
;	Rzunt
;	Vol
;	integ(Ar
;	integ(D
;	integ(H
;	integ(He
;	integ(N
;	integ(Ne